<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a_barbu.gps_agenda">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.BROADCAST_WAP" />
    <!-- nu stiu daca merge -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- as putea... why not. cand ajungi acolo sa trimita singur sms -->
    <uses-permission android:name="android.permission.SET_ALARM" />
    <!-- e important -->
    <uses-permission android:name="android.permission.UPDATE_DEVICE" />
    <!-- nu stiu -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <permission
        android:name="a_barbu.gps_agenda.permission.MAP_RECEIVE"
        android:protectionLevel="signature" />
    <!-- key -ul se foloseste doar in aplicatia asta -->

    <uses-permission android:name="a_barbu.gps_agenda.permission.MAP_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permissions.READ_GSERVICES" />

    <!-- posibil openGL -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--  -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value=" AIzaSyC_-w_QOuQOE8kD2b6VhSy40ShBm2LmjPk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Config"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_config"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Principal"
            android:label="@string/title_activity_principal"
            android:parentActivityName=".Config"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="a_barbu.gps_agenda.Config" />
        </activity>

        <service
            android:name=".GpsService"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".Online"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".Notif_receiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>